body {
    background-color: #fafafa;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    padding: 18px;
    background: #c5cae9;
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    margin-left: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#button_capture {
    position: absolute;
    left: auto;
    right: 290px;
    top: auto;
    bottom: 47px;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color:  #3949ab;
    color: white;
    cursor: pointer;
}

h3 {
    margin-top: 3px;
    text-align: center;
    color: #d32f2f;
    font-size: 1.3em;
}