body {
    background-color: #fafafa;
}

* {
    font-family: 'Poppins', sans-serif;
}

#title {
    margin-left: 30px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#image {
    position: relative;
    float: left;
    margin-left: 30px;
}

#results {
    font-size: 3em;
    position: relative;
    float: right;
    margin-top: 100px;
    margin-right: 200px;
    overflow: hidden;
}

#label {
    text-align: center;
    color: #d32f2f;
}

#button_again {
    position: absolute;
    left: auto;
    right: 200px;
    top: auto;
    bottom: 300px;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color:  #512da8;
    color: white;
    cursor: pointer;
}