<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta nam="viewport" content="width=device-width, initial-scale=1">

        <title>Mood Detector</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/home.css') }}">

    </head>
    <body>

        <h1>Mood Detector</h1>
        <!-- used for displaying the webcam capture -->
        <div class="videodiv">
            <img class="center" id="video" src="{{ url_for('video') }}">
        </div>

        <!-- used for predicting the emotion -->
        <div>
            <form method="POST" action="/button_capture">
                <input id="button_capture" type="submit" value="Capture">
            </form>
        </div>
        <h3 class="center">Please place your face in the middle of the screen and click capture</h3>

    </body>

</html>