<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta nam="viewport" content="width=device-width, initial-scale=1">

        <title>Mood Detector</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/home.css') }}">

    </head>
    <body>

        <h1>Mood Detector</h1>

        <!-- used for displaying the webcam capture -->
        <div>
            <img class="center" id="video" src="{{ url_for('video') }}">
        </div>

        <!-- used for predicting the emotion -->
        <div>
            <form method="POST" action="/button_capture">
                <input class="center" id="button_capture" type="submit" value="Capture">
            </form>
        </div>

    </body>

</html>