<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta nam="viewport" content="width=device-width, initial-scale=1">

        <title>Mood Detector</title>

    </head>
    <body>

        <h1>Mood Detector</h1>

        <!-- used for displaying the webcam capture -->
        <div>
            <img src="{{ url_for('video') }}" width="50%">
        </div>

        <!-- used for predicting the emotion -->
        <div>
            <form method="POST" action="/button">
                <input type="submit" value="Capture">
            </form>
        </div>

    </body>

</html>